/* reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.5;
}

body {
  font-family: system-ui, 'Segoe UI', Roboto, 'Helvetica Neue', helvetica,
    sans-serif;
}

main {
  padding-top: 1em;
  padding-bottom: 1em;
  width: min(800px, 95vw);
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-bottom: 8px;
  font-size: 1.8em;
  font-weight: 500;
}

#assignment-list {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-left: 15%;
  margin-right:10%
}

#assignment-list td,
#assignment-list th {
  border: 1px solid #ddd;
  padding: 8px;
}

#assignment-list th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  font-size:large;
  /* background-color: #29465B; */
  /* color: white; */
}

#assignment-list td {
  /* border: 1px solid #ddd; */
  padding: 8px;
}

/* #assignment-list tr:nth-child(even){
  background-color: #f2f2f2;
} */
#assignment-list tr {
  background-color: #282b30;
}

/* #assignment-list tr:nth-child(1) {
  background-color: #29465B;
  color: white;
} */

#assignment-list tr:hover {
  background-color: #36393e;
}

/* #assignment-list tr:nth-child(1):hover {background-color: transparent} */

#assignment-list th:nth-last-child(1),
.last-col,
#assignment-list td:nth-last-child(1) {
  background-color: #1e2124;
  /* background:white; */
  border: 0px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  height: 100%
}

#assignment-list th:nth-last-child(1):hover,
.last-col {
  background-color: #1e2124;
  /* background:white; */
}

/* .last-col {
  background-color: white;
  border: none;
}

.last-col:hover {
  background-color: white;
  border: none;
} */

.badge {
  text-align: center;
  margin-bottom: 16px;
}
.badge span {
  background-color: #212529;
  color: #ffffff;
  border-radius: 6px;
  font-weight: bold;
  padding: 4px 8px 4px 8px;
  font-size: 0.75em;
}
/*
ul {
  margin: 8px;
  border-radius: 8px;
  border: solid 1px lightgray;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

ul:empty {
  display: none;
}

li {
  display: flex;
  justify-content: flex-start;
  padding: 8px 16px 8px 16px;
  border-bottom: solid 1px lightgray;
  font-size: 16px;
}

li:last-child {
  border: 0;
}

li span:nth-child(1) {
  font-weight: bold;
  margin-right: 4px;
  white-space: nowrap;
}
li span:nth-child(2) {
  margin-right: 4px;
  word-break: break-word;
}
li span:nth-child(3) {
  color: #6c757d;
  /* margin-left: auto;
  white-space: nowrap;
}*/

form {
  display: flex;
  justify-content: center;
  background-color: gray;
}

form label {
  margin-left: 4px;
}

input:not([type]),
#due-date-input {
  padding: 6px 12px 6px 12px;
  color: rgb(33, 37, 41);
  border: solid 1px rgb(206, 212, 218);
  border-radius: 8px;
  font-size: 16px;
  margin: 3px;
}

.required:after {
  content: ' *';
  color: red;
}

input[type='submit'],
button {
  margin-left: 4px;
  background: lightblue;
  color: white;
  padding: 6px 12px 6px 12px;
  border-radius: 8px;
  font-size: 16px;
  background-color: rgb(49, 108, 244);
  height: 80%;
}

input[type='submit'] {
  margin-top: 25px;
}

input[type='submit']:hover,
button:hover {
  background-color: rgb(41, 93, 207);
}

input[type='submit']:disabled,
button:disabled {
  background-color: rgb(122, 160, 248);
}

.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 50%;
  padding: 5px;
}
.popup-arrow {
  color: rgb(255, 255, 255);
}
[role='tooltip'].popup-content {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}

[data-popup='tooltip'].popup-overlay {
  background: transparent;
}

.edit-delete-button,
.export-single-button,
.export-button {
  background-color: transparent;
  /* border: 1px solid gray; */
  /* color: black; */
}

.edit-delete-button:hover,
.export-single-button:hover,
.export-button {
  background-color: #424549;
}

.popup-content {
  flex-wrap: wrap;
  justify-content: left;
  background: transparent;
  border: none;
  border-radius: 8px;
}

.modal > .modal-header {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}

/* .export-button {
  background-color: rgb(67, 67, 67);
  border: 2px solid black;
}

.export-button:hover{
  background-color: gray;
}

.export-single-button, .export-button {
  text-align: center;
  text-overflow: wrap;
  font-size: 10pt;
  padding: 2px;
  max-width: 100px;
} */
main {
  /* background-color: purple; */
  padding-top:0px;
  width: 100%;
  height: 100%;
}
body {
  background-color: #1e2124;
}
h1 {
  color: white;
}
table > * {
  color: white;
}
a {
  color: white;
}
table {
  /* margin-left: 30px;
  margin-right: 30px; */
  width: 50%;
}
/* main {
  margin-left: 30px;
  margin-right: 30px;
} */
/* .last-col-flex {
  background-color: pink;
} */
.table-wrapper {
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
}
th {
  background-color: #4d5158;
}
label {
  color: black;
}
#outer-form {
  background-color: pink;
  /* display: flex; */
}
.add-new-item {
  margin-top: 20px;
  margin-left: 16%;
}

.kairos-logo-img {
  width: 100px;
  height: 100px;
  border-radius:8px;
}

.header-img {
  width:100%;
  max-height:250px;
  margin-bottom: 10px;
}
