body {
	width: 490px;
	margin: 0 auto;  
	background-color: #1e2124 !important;
	font-family: 'Segoe UI', sans-serif;
  }
  
  header {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:#424549;
	height: 100px;
  }
  
  .quote {
	  color: #7289da;
	  margin: 20px;
  }
  
  .kairos-logo {
	width: 80px;
	height: 80px;
	transition: all 0.2s ease-in-out;
  }
  
  .title {
	text-align: center;
	font-size: 2.5em;
	font-weight: bold;
	color: #7289da;
  }
  
  .button-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 490px;
	margin-top: 20px;
	margin-bottom: 20px;
  }
  
  .button {
	padding: 0.7em 2em;
	margin-top:6px;
	margin-bottom: 6px;
	border: none;
	outline: none;
	color: #f9f9f9;
	background-color: #424549;
	cursor: pointer;
	position: relative;
	border-radius: 10px;
	transition: all 0.2s ease-in-out;
  }
  
  .button:before {
	content: "";
	position: absolute;
	top: -2px;
	left: -2px;
	background-size: 400%;
	filter: blur(5px);
	-webkit-filter: blur(5px);
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	border-radius: 10px;
  }
  
  .button:hover {
	transform: scale(1.05);
  }
  
  .web-app-link {
	display: block;
	text-align: center;
	text-decoration: none;
	color: #7289da;
	font-weight: bold;
	border-bottom: 3px solid #3282b8;
	padding-bottom: 5px;
	transition: all 0.2s ease-in-out;
  }
  
  .web-app-link:hover {
	border-bottom: 3px solid #0f4c75;
	color: #3282b8;
  }
  
  .content-container {
	margin: 20px auto;
	width: 80%;
	max-width: 700px;
	background-color: #1e2124;
	border-radius: 10px;
	padding: 20px;
  }
  
  form {
	display: flex;
	flex-direction: column;
  }
  
  label {
	margin-top: 10
  }
  
  .popup-content {
	background-color: purple;
	width: 1000px;
	height: 1000px;
  }
  
  .modal {
	font-size: 12px;
  }
  
  .modal > .header {
	width: 100%;
	border-bottom: 1px solid gray;
	font-size: 18px;
	text-align: center;
	padding: 5px;
  }
  
  .modal > .content {
	width: 100%;
	padding: 10px 5px;
  }
  
  .modal > .actions {
	width: 100%;
	padding: 10px 5px;
	margin: auto;
	text-align: center;
  }
  
  .modal > .close {
	cursor: pointer;
	position: absolute;
	display: block;
	padding: 2px 5px;
	line-height: 20px;
	right: -10px;
	top: -10px;
	font-size: 24px;
	background: #ffffff;
	border-radius: 18px;
	border: 1px solid #cfcece;
  }
  